@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
body{
    font-family: 'Poppins';

}
.header-text {
    padding-bottom: 20px; /* Jarak antara teks dan form */
}
.container {
    margin-top: 0; 
    padding: 0 15px; 
}

.form-create-custom {
    max-width: 600px;
    background-color: #f9f9f9;
}

.form-create-custom .form-label {
    font-weight: 600;
}

.form-create-custom input[type="file"] {
    padding: 8px;
}

.btn-primary {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}