@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Poppins';
}

.container {
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-gallery img {
    width: 100%;
max-height: 400px;
object-fit: cover;
position: relative;
z-index: 1;
}

.thumbnail-row img {
    cursor: pointer;
    border-radius: 8px;
}

.details h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.location {
    color: #6c757d;
    display: flex;
    align-items: center;
    gap: 5px;
}

.description {
    color: #495057;
    line-height: 1.6;
    background-color: #f1f3f5;
    padding: 10px;
    border-radius: 8px;
}

.rating {
    color: #ffbc00;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.map {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.price-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
} 

.price {
    font-size: 18px;
    color: #212529;
    text-align: center;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.button:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
}

.button:hover:enabled {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
}